
#main{
    margin-top:20px;
}

#StyleNewsletter,
#StyleNewsletterCreate{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
    width: 600px;
    margin: 0 auto;
}

#StyleNewsletterCreate{
    padding:20px;
    margin: 0 0 0 10px;
}

#StyleNewsletter .resetMarge ,
#StyleNewsletterCreate .resetMarge{
    padding: 0;
    margin: 0;
}

#StyleNewsletter .resetTable,
#StyleNewsletterCreate .resetTable{
    border-collapse:collapse;
    mso-table-lspace:0pt;
    mso-table-rspace:0pt;
    margin: 0;
    padding: 0;
}

#StyleNewsletter #sortable td,
#StyleNewsletterCreate #sortable td{
    background: #fff;
}

#StyleNewsletter .header,
#StyleNewsletterCreate .header{
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#StyleNewsletter .header.headerSmall,
#StyleNewsletterCreate .header.headerSmall{
    font-size: 15px;
}

#StyleNewsletter h2,
#StyleNewsletter h4,
#StyleNewsletter .contentForm h3,
#StyleNewsletter .contentForm h4,
#StyleNewsletter .contentForm p,
#StyleNewsletter .contentForm a,
#StyleNewsletter .contentForm ul li,
#StyleNewsletterCreate h2,
#StyleNewsletterCreate .contentForm h3,
#StyleNewsletterCreate .contentForm h4,
#StyleNewsletterCreate .contentForm p,
#StyleNewsletterCreate .contentForm a,
#StyleNewsletterCreate .contentForm ul li{
    margin: 0 0 10px 0;
    padding: 0;
}

#StyleNewsletter .abstract,
#StyleNewsletterCreate .abstract{
    color: #666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
    text-align: justify;
}

#StyleNewsletter .contentForm a,
#StyleNewsletterCreate .contentForm a{
    color: #000;
    text-decoration: underline;
}

#StyleNewsletter .contentForm h4 ,
#StyleNewsletter .contentForm p ,
#StyleNewsletter .contentForm ul li,
#StyleNewsletterCreate .contentForm h4 ,
#StyleNewsletterCreate .contentForm p ,
#StyleNewsletterCreate .contentForm ul li{
    font-size:12px;
    font-weight:normal;
}

#StyleNewsletter  p,
#StyleNewsletter .contentForm p,
#StyleNewsletter .contentForm div,
#StyleNewsletter .contentForm .content,
#StyleNewsletterCreate  p,
#StyleNewsletterCreate .contentForm p,
#StyleNewsletterCreate .contentForm div,
#StyleNewsletterCreate .contentForm .content{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: justify;
}

#StyleNewsletter .contentForm ul,
#StyleNewsletterCreate .contentForm ul{
    margin-left: 5px;
}

#StyleNewsletter .contentForm ul li,
#StyleNewsletterCreate .contentForm ul li{
    text-align:justify;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:normal;
    margin-bottom: 0;
}

#StyleNewsletter .thumbnail,
#StyleNewsletterCreate .thumbnail{
    margin-bottom: 0;
    max-width: 130px;
    background: none;
    border-radius: 0;
    padding: 0;
}

#StyleNewsletter .thumbnail.big,
#StyleNewsletterCreate .thumbnail.big{
    margin-bottom: 10px;
    max-width: 560px;
}

#StyleNewsletter .thumbnail.mini,
#StyleNewsletterCreate .thumbnail.mini{
    margin-bottom: 10px;
    max-width: 130px;
}

#StyleNewsletter .upoadBtn a,
#StyleNewsletterCreate .upoadBtn a{
    background: none repeat scroll 0 0 #ccc;
    border: medium none;
    border-radius: 0;
    color: #777;
    padding: 5px 10px;
}

#StyleNewsletter .linkGrey,#StyleNewsletter a.linkGrey,
#StyleNewsletterCreate .linkGrey,#StyleNewsletterCreate a.linkGrey{
    color: #999;
    font-size: 11px;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
}

#StyleNewsletter .blocBorder,
#StyleNewsletterCreate .blocBorder{
    border-bottom:1px solid #ededed;
}

#StyleNewsletter .newsletterborder,
#StyleNewsletterCreate .newsletterborder{
    border:1px solid #ededed;
}

#StyleNewsletter .contentForm .centerText,#StyleNewsletter p.centerText,#StyleNewsletter p.centerText a,
#StyleNewsletterCreate .contentForm .centerText,#StyleNewsletterCreate p.centerText,#StyleNewsletterCreate p.centerText a{
    text-align: center;
}

#StyleNewsletter h2,
#StyleNewsletterCreate h2{
    font-size:14px;
    font-weight:bold;
}

#StyleNewsletter .contentForm h3,
#StyleNewsletter .contentForm h4,
#StyleNewsletterCreate .contentForm h3,
#StyleNewsletterCreate .contentForm h4
{
    font-size:13px;
    font-weight:bold;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}