<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
        <testsuite name="newsletter">
            <directory>./tests/newsletter/</directory>
        </testsuite>
        <testsuite name="service">
            <directory>./tests/service/</directory>
        </testsuite>
    </testsuites>
    <php>
		<env name="APP_KEY" value="base64:/0jUuH1cM8ZotNIa76x/Rf8RepgFH2W0e/LofCwh8iw="/>
    </php>
</phpunit>